/*
- TYPOGRAPHY:  

- Font Size Sysytem (px)
  ---- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font-Weight

- Line-Height
  --- Default: 1

-Color:
  --- Primary Color: #e67e22, #cf711f
  --- Tint: #fae5d3
  --- Shades: 
  --- Accents: 
  --- Greys: #343a40, #495057

- Shadows:  

- Border-Radius: 
  start-eating-well-button: 1rem
  main-navigation-links: 1rem

- Whitespace: 
  --- Spacing System (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/
/* ELEMENT SELECTOR */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* Percentage of Users Font size */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #343a40;
}
.delivered-text span,
.tag {
  color: #cf711f;
  font-weight: 700;
}

/* REUSABLE SELECTORS */
.center-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.6rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-align {
  align-items: center;
}
.margin-right-sm {
  margin-right: 1.6rem;
}
.margin-right-med {
  margin-bottom: 4.8rem !important;
}
.center-text {
  text-align: center;
}

/* ****************************** */
/* GENERAL COMPONENT */
/* ****************************** */
/* HEADER_SECTION */

/* HERO SECTION */
.section-hero {
  background-color: #fae5d3;
  padding: 4.8rem 0 8rem 0;
}
.section-how-it-works {
  padding: 9.6rem 0;
}
.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 3.2rem;
}
.hero-heading,
.heading-secondary,
.heading-tertiary {
  color: #495057;
  letter-spacing: -0.5px;
  line-height: 1.05;
  font-weight: 600;
}
.hero-heading {
  font-size: 5.2rem;
  /* color: #495057; */
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.sub-heading {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  margin-bottom: 1.6rem;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-image {
  width: 100%;
}
.button:link,
.button:visited {
  display: inline-block;
  background-color: #e67e22;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  transition: all 0.3s;
}
.button-full:link,
.button-full:visited {
  background-color: #e67e22;
}
.button-full:hover,
.button-full:active {
  background-color: #cf711f;
}
.button-outline:link,
.button-outline:visited {
  background-color: #fff;
  color: #495057;
}
.button-outline:hover,
.button-outline:active {
  background-color: #fae5d3;
  color: #495057;
  /* border: 1px solid #fff; */
  /* Trick to add border inside we box-shadow */
  box-shadow: inset 0 0 0 3px #fff;
}
.margin-right-sm {
  margin-right: 2rem !important;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6.4rem;
}
.delivered-images {
  display: flex;
}
.delivered-images img {
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fae5d3;
}
.delivered-images img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8em;
  font-weight: 600;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}
.omnifood-logo {
  height: 2.2rem;
}
.main-navigation-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.main-navigation-link:link,
.main-navigation-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #343a40;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  font-weight: 500;
  transition: all 0.3s;
  display: inline-block;
}
.main-navigation-link:hover,
.main-navigation-link:active {
  color: #cf711f;
}
.main-navigation-link.nav-cta:link,
.main-navigation-link.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  transition: all 0.3s;
}
.main-navigation-link:hover.nav-cta:hover {
  background-color: #cf711f;
  color: #fff;
}
/* ********************************* */
/* HOW IT WORKS SECTION */
/* ********************************* */

.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #dee2e6;
  margin-bottom: 2.2rem;
}
.heading-tertiary {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-image-box::after,
.step-image-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.step-image-box::before {
  width: 60%;
  z-index: -2;
  padding-bottom: 60%;
  background-color: #fdf2e9;
}
.step-image-box::after {
  width: 45%;
  background-color: #fae5d3;
  padding-bottom: 45%;
  z-index: -1;
}
.step-image {
  width: 35%;
  /* z-index: 1; */
}
/* ****************************** */
/* FEATURED IN SECTION */
/* ****************************** */
.section-features {
  padding: 4.8rem 0 3.2rem 0;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
.heading-features {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.8;
  color: #495057;
  margin-bottom: 4.8rem;
  text-align: center;
  opacity: 80%;
}
/* ****************************** */
/* MEALS SECTION*/
/* ****************************** */

.section-meals {
  padding: 9.6rem 0;
}
.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.2rem;
  overflow: hidden;
}
.meals:hover {
  transform: translateY(-2rem);
  transition: all 0.3s;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.085);
}
.meal-tags {
  margin-bottom: 1.6rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  color: #343a40;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 600;
}
.tag-vegetarian {
  background-color: #63e6be;
}
.tag-vegan {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}
.meal-title {
  font-size: 2.4rem;
  color: #495057;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.meal-content-box {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.8rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.meal-image {
  width: 100%;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #cf711f;
}
strong {
  font-weight: 500;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.checkmark-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #cf711f;
}
.list span {
  font-size: 1.8rem;
}
.diet {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  padding: 2.4rem 4.8rem;
  border-radius: 1.2rem;
}
.diet:hover {
  transform: translateY(-2rem);
  transition: all 0.33s;
  box-shadow: 0 4.8rem 6.4rem rgba(54, 53, 53, 0.085);
}
.all-recipes {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
}
.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  border-radius: 3px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
/* *********************************************** */
/* TESTIMONIAL SECTION */
/* *********************************************** */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonal-container {
  padding: 9.6rem;
}
.testimonial-image {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.2rem;
  color: #6f6f6f;
}
.testimonial-image-box {
  display: flex;
  justify-content: center;
}

.testimonal-container span {
  font-size: 1.8rem;
  color: #e67e22;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
.gallery-item {
  overflow: hidden;
}
/* *********************************************** */
/* TESTIMONIAL SECTION */
/* *********************************************** */
.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  border-radius: 1.2rem;
  width: 75%;
}
.pricing-plan-complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan-complete::after {
  content: "BEST VALUE";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  color: #343a40;
  position: absolute;
  padding: 0.8rem 8rem;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}
.price-plan-end {
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.4rem;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #495057;
}
.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}
.price-plan-end {
  justify-self: end;
}
.feature-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background-color: #fdf2e9;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #343a40;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.feature-description {
  font-size: 1.6rem;
  color: #495057;
  line-height: 1.8;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
