* {
  margin: 0px;
  padding: 0px;
}
.product {
  width: 825px;
  margin-left: 20vw;
  margin-right: 20vw;
  border: 5px solid #444;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.heading {
  font-size: large;
  text-transform: uppercase;
  padding: 10px;
}
h2 {
  background-color: #f7f7f7;
  text-align: center;
}
a {
  color: #444;
  margin-bottom: 20px;
}
a:link:hover {
  text-decoration: none;
}
.list-items {
  list-style: square;
  margin-left: 20px;
}
.product-details-section {
  margin-top: 10px;
}
.product-details-section:first-child {
  margin-bottom: 10px;
}
.add-to-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  height: 2em;
}
.add-to-cart:hover {
  background-color: white;
  color: black;
}
#shipping-text {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 12px;
  color: #777;
  margin-bottom: 20px;
}
