* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: whitesmoke;
}
h1,
h2,
h3,
p,
li {
  font-family: Poppins;
  color: #444;
}
body {
  font-family: Poppins;
  border-top: 10px solid #1098ad;
}
h1,
h2,
h3 {
  color: #1098ad;
}
.main-header {
  background-color: rgb(232, 232, 232);
  padding: 20px 40px;
  margin-bottom: 25px;
}
.post-header {
  margin-bottom: 40px;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: bold;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 22px;
  line-height: 1 0.5;
  margin-bottom: 15px;
}
h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 40px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 50px;
}
li:last-child {
  margin-bottom: 0px;
}
footer p {
  font-size: 16px;
}
article p {
  font-style: italic;
}
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.related-author {
  font-size: 18px;
  font-weight: bolder;
}
.unordered-list {
  list-style: none;
  color: #f4b33f;
}
.main-headr {
  background-color: #f7f7f73f;
}

aside {
  background-color: #f7f7f7;
  border-bottom: 5px solid #1098ad;
  border-top: 5px solid #1098ad;
}
.aside-header {
  text-align: center;
  padding: 20px 0px;
}
li:first-child {
  font-weight: bold;
  font-style: italic;
}

li:last-child {
  font-style: italic;
}
/* Misconception

article p:first-child {
  color: cadetblue;
}*/
article {
  margin-bottom: 60px;
}
